

body{
    margin: 0;
    padding: 0;   
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #000;
    color: #fff;
     font-family: 'Cinzel', serif;
}
main{
    height: 100%;
    padding-bottom: 0;
}
img {
    display: block;
    width: 100%;
    /* vertical-align: middle; */
}

img.original-size {
    width: auto;
    max-width: 100%
}
span{
    color: #fff;
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
       
}
a {
    color: #fff;
    text-decoration: none
}
h1{
    font-size: 2em;
    margin: .67em 0
}
#header {
    position: fixed;
    left: 0;
    z-index: 50;
    width: 100%;
    pointer-events: none
}

#header .container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#header .logo-wrapper {
    pointer-events: all
}

#header .logo-wrapper svg {
    width: 10rem
}

#header .logo-wrapper #logo-meteorit-text {
    transition: opacity .2s ease
}
.container {
    position: relative;
    width: 83%;
    max-width: 80rem;
    margin: 0 auto
}

.container.full-w {
    width: 100%
}

.container.large,.container.no-max-w {
    max-width: none
}

@media only screen and (min-width: 600px) {
    .container.large {
        width:calc(100% - 6rem)
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width:80%
    }

    .container.large {
        width: calc(100% - 8rem)
    }
}









.img-holder {
    position: relative;
    animation: imgLoading 1.3s linear 1s infinite;
    background-image: linear-gradient(100deg, #000 40%, #303030 63%, #000 79%);
    background-size: 400% 100%;
    overflow: hidden
}

.img-holder>img,.img-holder>picture,.img-holder>picture img,.img-holder>video,.img-holder>iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
    transform: translate(-50%, -50%)
}

.pr-frame__nav {
    display: none
}

@media only screen and (min-width: 600px) {
    .pr-frame__nav {
        display:block;
        position: absolute;
        left: 3rem;
        bottom: 2.2rem;
        z-index: 9
    }

    .frame__nav-button {
        display: block;
        text-align: left;
        margin-top: .35em;
        text-transform: uppercase;
        position: relative;
        transition: color 0.3s;
        pointer-events: auto
    }

    .frame__nav-button::before {
        content: '';
        position: absolute;
        top: 50%;
        right: calc(100% + 4px);
        width: 3rem;
        height: 1px;
        background-color: currentColor;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.8s ease-in-out
    }

    .frame__nav-button.frame__nav-button--current::before {
        transform: scaleX(1)
    }

    .archive__nav {
        right: 2.7rem
    }
}







@media only screen and (min-width: 1280px) {
    .pr-frame__nav {
        left:4rem;
        bottom: 2.6rem
    }

    .archive__nav {
        right: 4rem;
        bottom: 2.6rem
    }

    .frame__nav-button::before {
        width: 4rem
    }
}

.pr-slides {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center
}

.pr-slide {
    width: 100%;
    height: 104%;
    grid-area: 1 / 1 / -1 / -1;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    position: relative;
    will-change: transform
}

.slide--current {
    pointer-events: auto;
    opacity: 1
}

.slide__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    overflow: hidden;
    will-change: transform
}

.slide__inner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: radial-gradient(circle, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 10%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.25) 100%)
}

.slide__inner h2 {
    position: absolute;
    left: 50%;
    top: calc(90% / 2);
    z-index: 9;
    width: 80%;
    font-size: 2.8146972656rem;
    line-height: 1.15;
    max-width: 8em;
    text-align: center;
    opacity: 0;
    color: #fff;
    will-change: opacity, transform;
    transform: translate3d(-50%, -50%, 0) scale(0.95)
}

@media all and (min-width: 600px) {
    .slide__inner h2 {
        font-size:4.768371582rem;
        line-height: 1.15
    }
}

@media all and (min-width: 1280px) {
    .slide__inner h2 {
        font-size:5.9604644775rem;
        line-height: 1.15
    }
}

@media all and (min-width: 1600px) {
    .slide__inner h2 {
        font-size:7.4505805969rem;
        line-height: 1.15
    }
}

@media all and (min-width: 2400px) {
    .slide__inner h2 {
        font-size:9.3132257462rem;
        line-height: 1.15
    }
}

.slide--current h2 {
    line-height: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
    transition: opacity .8s ease 1s, transform .8s ease 1s
}

.slide__img {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%
}

.slide__img .img-holder {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform
}
#scroll-btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    color: rgba(255,255,255,0.5) !important;
    overflow: hidden;
    transform: translate(-50%, -50%)
}
@keyframes scrollBtn {
    0% {
        width: 0;
        left: 0;
        justify-content: flex-start
    }

    15% {
        width: 0;
        left: 0;
        justify-content: flex-start
    }

    49% {
        width: 100%;
        left: 0;
        justify-content: flex-start
    }

    51% {
        width: 100%;
        left: auto;
        right: 0;
        justify-content: flex-end
    }

    85% {
        width: 0;
        left: auto;
        right: 0;
        justify-content: flex-end
    }

    100% {
        width: 0;
        left: 100%;
        justify-content: flex-end
    }
}


#scroll-btn .btn-anchor::before {
    display: flex;
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    justify-content: flex-start;
    white-space: nowrap;
    color: #fff;
    animation: scrollBtn 2.5s ease-in-out infinite
}



.bottom-bar {
    position: absolute;
    left: 0;
    bottom: 2.25rem;
    right: 0;
    z-index: 9;
    text-align: center
}

.bottom-bar .coordinates {
    opacity: .5
}

.bottom-bar .side-el {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.bottom-bar .side-el.dx {
    left: auto;
    right: 0;
    text-align: right
}

.bottom-bar a {
    color: #fff
}

.bottom-bar a.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

@media only screen and (min-width: 1024px) {
    .bottom-bar {
        bottom:2.5rem
    }
}

@media only screen and (min-width: 1280px) {
    .bottom-bar {
        bottom:3rem
    }
}

@media only screen and (max-width: 359px) {
    #hero .side-el {
        display:none
    }
}

@media all and (min-width: 360px) {
    .btn,.btn-clear {
        font-size:.7857142857rem
    }
}

@media all and (min-width: 600px) {
    .btn,.btn-clear {
        font-size:.75rem
    }
}

@media all and (min-width: 1280px) {
    .btn,.btn-clear {
        font-size:.8125rem
    }
}

@media all and (min-width: 1600px) {
    .btn,.btn-clear {
        font-size:.7647058824rem
    }
}

@media all and (min-width: 1920px) {
    .btn,.btn-clear {
        font-size:.7777777778rem
    }
}

@media all and (min-width: 2400px) {
    .btn,.btn-clear {
        font-size:.75rem
    }
}
